/*
layout > header
------------------------------
*/

.header {
    position: fixed;
    width: 100vw;
    height: 70px;
    z-index: 995;
}

/* バナー */
.header-banner {
    background-color: var(--bg-color-primary);
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-banner-text {
    color: var(--font-color-primary);
    font-size: clamp(8px, 1.5vw, 10px);
}

.header-outer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 2px solid var(--border-color-base);
    background-color: var(--bg-color-base);
    height: 40px;
    padding: 0 2vw;
}

/* ヘッダーメニュー */
.header-nav {
    display: none;
    place-self: center start;
}

.header-nav ul {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.header-logo {
    place-self: center;
}

.header-logo img {
    width: 40px;
}

.header-list {
    display: flex;
    font-display: row;
    place-self: center end;
    align-items: center;
    gap: 2vw;
}

.header-icon {
    position: relative;
    display: inline-block; /* または inline-flex */
}

.header-icon svg {
    width: 25px;
    display: block; /* 画像の下に余白ができるのを防ぐ */
}

.header-icon span {
    position: absolute;
    /* 親要素の中心に配置するための基準点 */
    top: 50%;  /* カートの「カゴ」部分は少し下にあるため、50%より少し下げて調整 */
    left: 55%; /* 水平方向はど真ん中 */
    
    /* ★ここが重要：自身の大きさの半分だけ左上に戻すことで、完全な中心にする */
    transform: translate(-50%, -50%);
    
    /* その他の見た目の調整 */
    font-size: clamp(8px, 1.5vw, 10px); /* カートの中に入れるなら少し小さめが良いかも */
    font-weight: bold;
    color: currentColor; /* svgの色と合わせる場合。黒なら black でOK */
    line-height: 1;      /* 上下の余計な隙間をなくす */
    pointer-events: none; /* 数字の上にマウスが来てもクリックを透過させる */
}

@media (min-width: 768px) {

    .header-outer {
        height: 50px;
    }

    .header-humburger {
        display: none;
    }

    .header-nav {
        display: block;
    }

    .header-logo img {
        width: 50px;
    }

    .header-list {
        gap: 24px;
    }

    .header-icon svg {
        width: 35px;
    }

    .header-icon p {
        top: 20%;
        left: 45%;
    }
}